################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TP-LCD/.vs/TP-LCD/v15/Browse.VC.opendb
/TP-LCD/.vs/TP-LCD/v15/Browse.VC.db
/TP-LCD/.vs/TP-LCD/v15/.suo
